node_modules
dist
projects
.pi-agent/*
!.pi-agent/settings.json
!.pi-agent/models-store.json
!.pi-agent/skills
!.pi-agent/skills/**
!.pi-agent/npm
.pi-agent/npm/node_modules
!.pi-agent/npm/package.json
!.pi-agent/npm/package-lock.json
.env
.git
